<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myResource1" class="org.springframework.context.support.ResourceBundleMessageSource">
        <!-- 1. 通过基名指定资源，相对于类根路径-->
        <property name="basenames">
            <list>
                <value>com/smart/i18n/resource</value>
            </list>
        </property>
    </bean>

    <!-- ReloadableResourceBundleMessageSource 与ResourceBundleMessageSource的唯一区别在于它可以定时刷新资源文件 -->
    <bean id="myResource2" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>com/smart/i18n/fmt_resource</value>
            </list>
        </property>
        <!-- 刷新资源文件的周期，以秒为单位 -->
        <property name="cacheSeconds" value="2"/>
    </bean>

    <!-- 注册资源Bean，其Bean名称只能为messageSource-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>com/smart/i18n/fmt_resource</value>
            </list>
        </property>
    </bean>
</beans>