<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="greetingBefore" class="com.smart.advice.GreetingBeforeAdvice"/>
    <bean id="greetingAfter" class="com.smart.advice.GreetingAfterAdvice"/>
    <bean id="greetingAround" class="com.smart.advice.GreetingInterceptor"/>
    <bean id="target" class="com.smart.advice.NaiveWaiter"/>

    <!-- before and after advice -->
    <!--<bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean">-->
        <!--&lt;!&ndash; 指定代理接口，若多个接口使用list元素 &ndash;&gt;-->
        <!--<property name="proxyInterfaces" value="com.smart.advice.Waiter"/>-->
        <!--&lt;!&ndash; 指定使用的增强 &ndash;&gt;-->
        <!--<property name="interceptorNames" value="greetingBefore, greetingAfter"/>-->
        <!--&lt;!&ndash; 指定对那个Bean进行代理 &ndash;&gt;-->
        <!--<property name="target" ref="target"/>-->
    <!--</bean>-->

    <!-- around advice -->
    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.smart.advice.Waiter"
          p:interceptorNames="greetingAround"
          p:target-ref="target"/>

    <bean id="transactionManager" class="com.smart.advice.TransactionManager"/>
    <bean id="forumServiceTarget" class="com.smart.advice.ForumService"/>
    <bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="transactionManager"
          p:target-ref="forumServiceTarget"
          p:proxyTargetClass="true"/>

</beans>