<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contex="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<contex:property-placeholder file-encoding="utf-8" location="classpath:com/smart/beanprop/jdbc.properties"/>-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="fileEncoding" value="utf-8"/>
        <property name="location" value="classpath:com/smart/beanprop/jdbc.properties"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
          p:driverClassName="${driverClassName}"
          p:url="${url}"
          p:username="${username}"
          p:password="${password}"/>

    <bean id="sysConfig" class="com.smart.beanprop.SysConfig"
          init-method="initFromDB"
          p:dataSource-ref="dataSource"/>

    <bean class="com.smart.beanprop.ApplicationManager"
          p:sessionTimeout="#{sysConfig.sessionTimeout}"
          p:maxTabPageNum="#{sysConfig.maxTabPageNum}"/>

</beans>